{% extends 'base.html.twig' %}

{% block body %}


  {% include("menus/navigation.html.twig") %}
    {% include("headers/header_adm.html.twig") %}

    <div class="container">
        <!-- Article main content -->
        <article class="col-md-12 maincontent">
            <div class="container">
                <div class="row">	
                    <h1>Liste des Categories </h1>

                    <hr style="width:100%; height:10px; background-color:#1B4F72 ">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                {% if tri is defined %}
                                    {% if tri == 'ASC' %}
                                    <th>Id</th>
                                    <th><a href="{{path('app_categorie_tri', {'champ': 'titre', 'tri': 'DESC' })}}" >Titre</a></th>
                                    <th><a href="{{path('app_categorie_tri', {'champ': 'resume', 'tri': 'DESC' })}}" >Resume</a></th>
                                    <th>Action</th>
                                    {% else %}
                                    <th>Id</th>
                                    <th><a href="{{path('app_categorie_tri', {'champ': 'titre', 'tri': 'ASC' })}}" >Titre</a></th>
                                    <th><a href="{{path('app_categorie_tri', {'champ': 'resume', 'tri': 'ASC' })}}" >Resume</a></th>
                                    <th>Action</th>
                                    {% endif %}
                                {% else %}
                                    <th>Id</th>
                                    <th><a href="{{path('app_categorie_tri', {'champ': 'titre' , 'tri'  : 'ASC'})}}" >Titre</a></th>
                                    <th><a href="{{path('app_categorie_tri', {'champ': 'resume', 'tri': 'ASC' })}}" >Resume</a></th>
                                    <th>Action</th>
                                {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for categorie in categories %}
                                    <tr>
                                        <td>{{ categorie.id }}</td>
                                        <td>{{ categorie.titre }}</td>
                                        <td>{{ categorie.resume }}</td>
                                        <td> 
                                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                                <div class="text-center">
                                                    <a href="#" class="btn btn-success"> affich / </a> 
                                                    <a href="#" class="btn btn-warning"> edit / </a> 
                                                    {# <a href="{{path('adm_categorie_delete', {'id': categorie.id})}}" class="btn btn-danger"> Suppr  </a> #} 
                                                     {# {{ include('categorie/_delete_form.html.twig') }} #}
                                                    
                                                    
                                                </div>
                                            </div> 
                    </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="5"> Aucun article pour lemoment  </td>
                                    </tr>
                                {% endfor %}
                        </tbody>
                    </table>
                        
                    <br><br><br><br>
                </div>
                <div>
                    <a href="{{path('app_categorie_new')}}" class="btn btn-primary"> Ajouter une categorie /  </a> <br><br><br><br>
                </di>
            </div>
        </article>
    </div>
{% endblock %}